<footer data-aos="fade-up">
    <div class="footer-area default_bg">
        <div class="footer-top section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 mb-xs-5">
                        <div class="single_widget">
                            <div class="address-widget">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="assets/images/logo.png" alt=""
                                            class="img-fluid"></a>
                                </div>
                                <p>900 Lucerne Station Road Terrace, Orlando, FL 32806, USA contact@eduaid.com</p>
                                <span>+892 5555 444</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-3d-5">
                        <div class="single_widget">
                            <h4>
                                Liens Utiles
                            </h4>
                            <div class="widget-list">
                                <ul>
                                    <li><a href="#">A propos de nous</a></li>
                                    <li><a href="#">Notre école</a></li>
                                    <li><a href="#">Cours</a></li>
                                    <li><a href="#">Histoire</a></li>
                                    <li><a href="#">Politique de confidentialité</a></li>
                                    <li><a href="#">Service Plus</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-xs-5">
                        <div class="single_widget">
                            <h4>
                                Nos Departements
                            </h4>
                            <div class="widget-list">
                                <ul>
                                    <li>
                                        <a href="#">
                                            Administration Durable
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Environnement et Dev. Durable
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Genre et Developpement Durable
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            Organisation Sociale
                                        </a>
                                    </li> 
                                    <li><a href="#">Planification Regionale</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single_widget">
                            <h4>
                                Dernières Nouvelles
                            </h4>
                            <div class="widget-item">
                                <div class="widget-image">
                                    <a href="#"><img src="assets/images/blog_01.jpg" alt="blog one" /></a>
                                </div>
                                <div class="widget-content">
                                    <h5><a href="#">7 Step Social Media Marke ting Strategy</a></h5>
                                    <div class="widget-meta">
                                        <span>05 Jan 2019</span>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-item">
                                <div class="widget-image">
                                    <a href="#"><img src="assets/images/blog_02.jpg" alt="blog one" /></a>
                                </div>
                                <div class="widget-content">
                                    <h5><a href="#">7 Step Social Media Marke ting Strategy</a></h5>
                                    <div class="widget-meta">
                                        <span>05 Jan 2019</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-wrapper border-top py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom">
                            <div class="copyright-text">
                                <p>ISDR UVIRA 2024. All Rights Reserved.</p>
                            </div>
                            <div class="social-accounts">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>