<footer data-aos="fade-up">
    <div class="footer-area default_bg">
        <div class="footer-top section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 mb-xs-5">
                        <div class="single_widget">
                            <div class="address-widget">
                                <div class="footer-logo">
                                    <a href="index.html"><img src="assets/images/footer_logo.png" alt=""
                                            class="img-fluid"></a>
                                </div>
                                <p>RDC - ISDR - UVIRA</p>
                                <span>+892 5555 444</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-3d-5">
                        <div class="single_widget">
                            <h4>
                                Liens Utiles
                            </h4>
                            <div class="widget-list">
                                <ul>
                                    <li><a href="javascript:void(0)">A propos de nous</a></li>
                                    <li><a href="javascript:void(0)">Notre école</a></li>
                                    <li><a href="javascript:void(0)">Cours</a></li>
                                    <li><a href="javascript:void(0)">Histoire</a></li>
                                    <li><a href="javascript:void(0)">Politique de confidentialité</a></li>
                                    <li><a href="javascript:void(0)">Service Plus</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 mb-xs-5">
                        <div class="single_widget">
                            <h4>
                                Nos Departements
                            </h4>
                            <div class="widget-list">
                                <ul>
                                    <li>
                                        <a href="javascript:void(2)">
                                            Administration Durable
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(2)">
                                            Environnement et Dev. Durable
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(2)">
                                            Genre et Developpement Durable
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(2)">
                                            Organisation Sociale
                                        </a>
                                    </li> 
                                    <li><a href="javascript:void(2)">Planification Regionale</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-wrapper border-top py-3">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom">
                            <div class="copyright-text">
                                <p>ISDR UVIRA 2024. All Rights Reserved.</p>
                            </div>
                            <div class="social-accounts">
                                <ul>
                                    <li><a href="javascript:void(2)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(2)"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="javascript:void(2)"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>